<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Message form</h1>
    <form method="POST" action="/new">
      <div>
        <label for="username">username:</label>
        <input type="text" id="username" />
      </div>

      <div>
        <label for="message">message:</label>
        <input type="text" id="message" />
      </div>

      <button>submit</button>
    </form>
</body>
</html>
